@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: 'Poppins', sans-serif;
}


// Variables
$black: #000000;
$white: #ffffff;
$grey: #F1EDE9;
$blue: #A2FBF4;
$light-grey: #353639;
$b-txt: #464646;
// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

// Basic layout
.container{
  max-width: 1100px;
  margin: 0 auto;
  @media (max-width: $tablet-wide){
      width: 100%;
  }

}

.hero-nav{
  text-align: center;
  padding-top: 50px;
  @media (max-width: $mobile-landscape){
          padding-top: 20px;
      }
  p{
    font-size: 30px;
    font-weight: 300;
    max-width: 700px;
    line-height: 1.5;
    margin: 20px auto;
    @media (max-width: $mobile-landscape){
          font-size: 20px;
          padding: 24px;
          margin: 0 auto;
      }
  }
  .brand{
    display: block;
    line-height: 0;
    img{
      height: 70px;
      @media (max-width: $mobile-landscape){
          height: 50px;
      }
    }
  }
}
.country_section{
  margin-top: 50px;
  @media (max-width: $mobile-landscape){
          margin-top: 20px;
      }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
    .country-wrap{
      width: 33.3%;
      @media (max-width: $mobile-landscape){
          width: 100%;
      }
      .country-box{
        margin: 18px 10px;
        display: block;
        text-align: center;
        transition: all ease 0.2s;
        position: relative;
        @media (max-width: $mobile-landscape){
           margin: 10px 18px;
        }
        .country-img{
          border-radius: 30px;
          width: 100%;
          height: 350px;
          object-fit: cover;
          transition: all ease 0.3s;
        }
        .country-txt{
          height: 350px;
          width: 100%;
          background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.9));
          position: absolute;
          border-radius: 30px;
          top: 0;
          left: 0;
          vertical-align: bottom;
          display: flex;
          .txt-wrap{
            align-self: flex-end;
            align-content: center;
            width: 100%;
            padding-bottom: 20px;
            h4{
              font-weight: 300;
              font-size: 20px;
              color: $white;
              margin-bottom: 10px;
            }
            h2{
              font-size: 36px;
              font-weight: 600;
              text-transform: uppercase;
              color: $white;
            }
            h6{
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 300;
              opacity: 0;
              margin-bottom: -14px;
              transition: all ease 0.3s;
              line-height: 14px;
              margin-top: 10px;
              color: $white;
              letter-spacing: 1px;
            }
          }
        }
        &:hover{
          .country-img{
            -webkit-box-shadow: 0 24px 44px -8px rgba(0,0,0,0.3);
            -moz-box-shadow: 0 24px 44px -8px rgba(0,0,0,0.3);
            box-shadow: 0 24px 44px -8px rgba(0,0,0,0.3);
          }
          h6.food-count{
            opacity: 1;
            margin-bottom: 2px;
            letter-spacing: 4px;
            color: #75CDFF;
          }
        }
      }
    }
}

footer{
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 60px;
  @media (max-width: $mobile-landscape){
      justify-content: center;
  }
  .about{
    display: flex;
    align-items: center;
    margin-left: 10px;
    @media (max-width: $mobile-landscape){
        justify-content: center;
        margin: 24px 18px;
        flex-direction: column;
    }
    .logo{
      a{
        display: block;
        line-height: 0;
        margin-right: 20px;
        @media (max-width: $mobile-landscape){
            margin: 0;
        }
        img{
          height: 20px;
        }
      }
    }
    .menu{
      @media (max-width: $mobile-landscape){
          margin-top: 10px;
      }
      a{
        font-weight: 400;
        color: $light-grey;
        text-decoration: none;
        padding: 3px 5px;
        &:hover{
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
  .credit{
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    @media (max-width: $mobile-landscape){
      margin: 24px 18px;
      flex-direction: column;
      border-top: .3px solid rgba(0,0,0,.2);
      padding-top: 20px;
    }
    .maker{
      @media (max-width: $mobile-landscape){
        margin-bottom: 12px;
      }
    }
    a{
      font-weight: 600;
      color: $light-grey;
      text-decoration: none;
      padding: 3px 5px;
      &:hover{
        color: $black;
        text-decoration: underline;
      }
    }
  }
}

.featured_section{
  background-color: $grey;
}
.testimonial_section{
  background-color: $blue;
}


.list_hero{
  margin-bottom: 60px;
  .list_country_wrap{
    position: relative;
    @media (max-width: $tablet-wide){

    }
    .list_country_img{
      height: 550px;
      display: block;
      .country-img{
        object-fit: cover;
        height: 550px;
        width: 100%;
        border-radius: 30px;
        object-position: top;
        @media (max-width: $desktop){
            border-radius: 0;
        }
      }
    }
    .list_country_txt{
      height: 550px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.9));
      border-radius: 30px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      vertical-align: bottom;
      display: flex;
      @media (max-width: $desktop){
          border-radius: 0;
      }
      .summary_txt{
        align-self: flex-end;
        align-content: center;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        @media (max-width: $tablet-wide){
            padding: 18px;
        }
        h1{
          font-size: 56px;
          color: $white;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 20px;
          @media (max-width: $tablet-wide){
              font-size: 44px;
          }
        }
        p{
          color: $white;
          font-size: 20px;
          font-weight: 300;
          line-height: 160%;
          max-width: 800px;
          margin: 0 auto;
          margin-bottom: 20px;
          @media (max-width: $tablet-wide){
              font-size: 16px;
          }
        }
      }
    }
  }
}

.list_section{
  @media (max-width: $tablet-wide){
    // todo
  }
  .article-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    @media (max-width: $desktop){
      padding: 44px 18px;
    }
    @media (max-width: $mobile-landscape){
      display: block;
      padding: 44px 18px;
    }
    .img-box{
      max-height: 260px;
      @media (max-width: $tablet-wide){
      }
      img{
        height: 260px;
        width: 320px;
        border-radius: 24px;
        object-fit: cover;

        @media (max-width: $tablet-wide){
          width: 250px;
        }
        @media (max-width: $mobile-landscape){
          width: 100%;
        }
      }
    }
    .list-txt{
      width: calc(100% - 320px);
      min-height: 260px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: $tablet-wide){
        width: calc(100% - 260px);
      }
      @media (max-width: $mobile-landscape){
        width: 100%;
        min-height: auto;
      }

      .txt-desc{
        padding-left: 24px;
        flex-grow: 0;
        @media (max-width: $mobile-landscape){
          padding: 0;
          margin-top: 24px;
        }
        .food-type{
          margin-top: 14px;
          margin-bottom: 8px;
          img{
            height: 16px;
            width: 16px;
            vertical-align: middle;
            margin-top: -2px;
          }
          span{
            font-size: 16px;
            font-weight: 400;
            margin-right: 16px;
          }
          .n-veg{
            color: #F47979;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          .veg{
            color: #51A044;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          .seafood{
            color: #F0874C;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          .egg{
            color: #FFC369;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
        h2{
          font-size: 32px;
          font-weight: 600;
        }
        p{
          font-size: 17px;
          line-height: 160%;
          color: $black;
          font-weight: 300;
          margin-top: 12px;
          @media (max-width: $mobile-landscape){
            font-size: 14px;
          }
        }
      }
      .tags{
        padding-left: 24px;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        @media (max-width: $tablet-wide){
          margin-top: 18px;
        }
        @media (max-width: $mobile-landscape){
          padding: 0;
          margin-top: 24px;
        }
        span{
          font-size: 18px;
          font-weight: 300;
          color: $b-txt;
          @media (max-width: $tablet-wide){
            font-size: 18px;
          }
          @media (max-width: $mobile-landscape){
            font-size: 16px;
          }
          strong{
            font-weight: 400;
            color: $black;
          }
        }
      }
    }
    &:hover{

    }
  }
}

.list-nav{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  @media (max-width: $tablet-wide){
      flex-direction: column;
      text-align: center;
  }
  .brand-nav{
    display: flex;
    align-items: center;
    @media (max-width: $tablet-wide){
        text-align: center;
        flex-flow: column;
    }
    @media (max-width: $desktop){
        padding: 18px;
    }
    .brand{
      display: block;
      line-height: 0;
      margin-right: 18px;
      .logo{
        height: 32px;
      }
      @media (max-width: $tablet-wide){
          text-align: center;
          display: block;
          width: 100%;
          margin-bottom: 18px;
      }
    }
  }
  .tweet{
    align-items: center;
    a{
      display: block;
      color: $black;
      text-decoration: none;
      vertical-align: middle;
      font-size: 18px;
      padding: 18px;
      line-height: 24px;
      border-radius: 30px;
      &:hover{
        background: rgba(0,0,0,0.03);
      }
      img{
        vertical-align: middle;
      }
    }
    @media (max-width: $tablet-wide){
        width: 100%;
        margin-top: 24px;
    }
  }
}


.country-links{
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 8;

  .d_button{
    font-size: 20px;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    padding: 12px 26px;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 24px;
    border: 1px solid $black;
    color: $black;
    z-index: 11;
    position: relative;
    text-align: left;
    cursor: pointer;
  }
  .d-arrow{
    img{
      -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    }
  }
  .d-list{
    z-index: 9;
    top: 0;
    left: 0;
    margin: 0;
    height: auto;
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.05);
    border-radius: 24px;
    overflow: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    box-shadow: 0 8px 44px -2px rgba(0,0,0,0.1);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    padding: 6px 0;
    min-width: 100%;
    >li{
      a{
        font-size: 18px;
        font-weight: 500;
        display: block;
        margin: 0 20px;
        padding: 12px 0;
        text-decoration: none;
        vertical-align: middle;
        color: $light-grey;
        width: max-content;
        &:hover{
          text-decoration: underline;
          color: $black;
        }
      }
      &:last-child{
        a{
          border: none;
        }
      }
    }
  }
  &:hover{
    .d-list{
      overflow: visible;
      opacity: 1;
      top: calc(100%);
      height: auto;
    }
    .d-arrow{
      img{
        transform: scale(-1, -1);
      }
    }
  }
}

.about_section{
  @media (max-width: $mobile-landscape){
  }
  .brand{
    display: block;
    padding: 0 18px;
  }
  .logo{
    height: 70px;
    margin-bottom: 60px;
    @media (max-width: $mobile-landscape){
      width: 100%;
      height: auto;
      margin-top: 24px;
    }
  }
  .about_box{
    margin: 50px 100px;
    @media (max-width: $mobile-landscape){
      margin: 0;
    }
    .desc{
      padding: 0 18px;
    }
    h1{
      font-size: 36px;
    }

    p{
      margin-top: 20px;
      font-size: 20px;
      line-height: 180%;
      color: $b-txt;
    }

    h3{
      font-size: 22px;
      margin-top: 24px;
    }
  }

  .maker-credit{
    margin-top: 60px;
    h1{
      padding: 10px 18px;
      line-height: 150%;
    }
      .maker-list{
        display: flex;
        @media (max-width: $mobile-landscape){
          display: block;
          padding: 18px;
        }
        .maker-wrap{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;
          width: 50%;
          padding: 18px;
          @media (max-width: $mobile-landscape){
            width: 100%;
            display: block;
            justify-content: flex-end;
            padding: 0;
            margin-bottom: 24px;
          }
          .maker{
            border: 1px solid rgba(0,0,0,0.1);
            padding: 18px;
            border-radius: 32px;

          }
          .image{
            img{
              height: 120px;
              width: 120px;
              border-radius: 50%;
              border: 1px solid rgba(0,0,0,0.3);
            }
          }
          .txt{
            h3{
              font-size: 26px;
              a{
                text-decoration: none;
                color: $black;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            p{
              font-weight: 300;
              font-size: 20px;
            }
          }
        }
      }

  }
}


.soon{
  text-align: center;
  h1{
    font-size: 34px;
  }
}
